body {
    background-color: #F2E8DF;
}

img {
    display: block;
    margin: 0 auto;
    width: 90%;
}

h1,h2,h3 {
    color: rgb(0, 0, 0);
    text-align: center;
}

#container {
    background-color: #8090A6;
    width: 75%;
    margin: 20px auto;
    border: 4px solid #ffffff;
}

nav {
    background-color: #2E3D59;
    padding: 2px 0;
    text-align: center;
}
nav ul {
padding: 0;
list-style-type: none;
}

nav li {
    display: inline-block;

}

nav li a {
    display: block;
    background-color: #BFA8AD;
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    font-weight: bold;
    color: whitesmoke;
    text-decoration: none;
    border: 2px solid #ffffff;
    border-radius: 20px;
    margin: 0 10px;
}

nav li a:hover {
    background-color: #F2E8DF;
    color: #032059;
    border: 2px solid #ffffff;
}
main {
    display: flex;
}

section, aside {
    border: 2px solid #ffffff;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

section {
    width: 80%;
}

aside {
    width: 20%;
}

.single_page {
    width: 100%;
}

#lower_area {
    display: flex;
}

.col {
    border: 2px solid ;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}


.Button {
    display: block;
    width: 100px;
    height: ;
    background-color: #2E3D59;
    color: #ffffff;
    text-decoration: none;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    border: 2px solid #8090A6;
    border-radius: 10px;
}

.Button:hover {
    background-color: #F2E8DF;
    border-color: #2E3D59;
}


footer {
    background-color: #BFA8AD;
    text-align: center;
    padding: 40px 0;
    color: #032059(242, 0, 255);
    font-weight: bold;
    border: 2px solid #ffffff;
    border-radius: 10px;
}

table {
    border: 4px solid #ffffff;
}

td, tr {
    border: 6px solid #000000;
    padding: 10px;
    margin: 10px;
}